<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <nav>
            <a href="/register">Register</a>
        </nav>

        <form action="/login" method="post">
            <input type="username" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>
        
            <button>submit</button>
        </form>
    </body>
</html>