<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Profile Page</h1>
        <nav>
            <a href="/logout">Logout</a>
        </nav>

            <h1>Successfully Logged In</h1>
        
    </body>
</html>