<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Registration Form</h1>
        <nav>
            <a href="/login">Login</a>
        </nav>

        <form action="/register" method="post">
            <input type="username" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>
            <input type="number" name="phoneNo" placeholder="PhoneNo"><br><br>
            <input type="Address" name="Address" placeholder="Address"><br><br>
            <button>submit</button>
        </form>
    </body>
</html>